
header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
  box-shadow: rgba(0, 0, 0, 0.3) 3px 0 15px;
  z-index: 1000;
}

header a, header a:hover {
  color: #fff;
}

header .header-bg {
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  background: #fff;
  transition: 0.3s;
}

header.scrolled .header-bg {
  transform: translateY(0);
}

header .logo {
  display: block;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

header .logo img {
  transition: 0.3s;
}

header .logo img:nth-child(2) {
  position: absolute;
  top: 0;
  opacity: 0;
}

header.scrolled .logo img:nth-child(1) {
  opacity: 0;
}

header.scrolled .logo img:nth-child(2) {
  opacity: 1;
}

header nav {
  text-align: center;
}

header nav li {
  display: inline-block;
}

header nav a {
  display: block;
  width: 110px;
  padding: 20px 0 23px;
  font-size: 17px;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

header nav a:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  transform: scaleX(0);
  transition: 0.3s;
}

header nav a:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  transform: scaleX(0);
  transition: 0.3s;
}

header nav a:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  background: #770d85;
  transform: scaleX(0);
  transition: 0.3s;
}

header nav ul li:nth-child(2) a:before {
  background: #7d42b9;
}

header nav ul li:nth-child(3) a:before {
  background: #1ea3a4;
}

header nav ul li:nth-child(4) a:before {
  background: #27b46b;
}

header nav ul li:nth-child(5) a:before {
  background: #80b317;
}

header nav ul li:nth-child(6) a:before {
  background: #ac3f3d;
}

header.scrolled nav a, header.scrolled nav a:hover {
  color: #000;
}

header nav a:hover {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
}

header nav a:hover:before {
  transform: scaleX(1);
}

header .user-block {
  text-align: right;
  margin: 10px 10px 0;
  color: #fff;
}

header .registration a {
  display: block;
}

header .user-block a:hover {
  text-decoration: underline;
}

header.scrolled .user-block a {
  color: #000;
}
header.scrolled .user-block div {
  color: #000;
}
