*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

.vf-invalid::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.vf-invalid:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.vf-invalid::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.vf-invalid:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}

body input:required:valid,
body textarea:required:valid {

}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'PT Sans Regular', serif;
  /*font-size: 125%;*/
  overflow-x: hidden;
  margin: 0;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, b, strong {
  font-weight: normal;
}

a, a:hover {
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.done-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  bottom: 0;
  right: 0;
  z-index: 10000;

}

.done-window {
  position: fixed;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  color: #010101;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0 35px 15px;
  border: 3px solid #86bc42;
  padding-top: 13px;
}

.done-window h3 {
  margin: 0;
}

.done-window small {
  font-size: 14px;
  text-transform: none;
  line-height: 18px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  height: 270px;
  margin: auto;
  margin-bottom: 25px;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.main_mnu_button {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 36px;
}

.popup-form {
  background-color: #fff;
  border-radius: 3px;
  padding: 25px;
  position: relative;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
}

.popup-form input, .popup-form textarea {
  border: none;
  border-bottom: 1px solid #BCBCBC;
  text-indent: 15px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0;
}

.popup-form h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.dib {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

section {
  padding: 90px 0;
}

h2 {
  text-align: center;
  margin: 0 0 30px;
  font: 48px "PT Sans Bold";
  color: #000;
}

img {
  width: 100%;
  height: 100%;
}






.gallery {

}

.gallery p {
  text-align: center;
  font-size: 20px;
  color: #757575;
}

.gallery .pic {
  width: 100%;
  height: 170px;
  margin-top: 30px;
  border: 1px solid #7d42b9;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gallery .pic img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.gallery .pic:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /*background: rgba(119, 13, 133, 0.6);*/
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
  z-index: 10;
}

.gallery .pic a {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
  z-index: 11;
  overflow: hidden;
}

.gallery .pic:hover:before, .pic:hover a {
  opacity: 1;
  pointer-events: auto;
}

.gallery .pic a:hover {
  color: #000;
  /*background: #fff;*/
}

.gallery .pic a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1;
}

.gallery .pic a:hover:before {
  transform: translateY(0);
}

.gallery .pic:hover img {
  transform: scale(1.2, 1.2);
}

/*.android {*/
/*height: 500px;*/
/*background: url("../img/main_bg2.jpg");*/
/*background-size: 100%;*/
/*overflow: hidden;*/
/*position: relative;*/
/*}*/
/*.android .bg-color {*/
/*content: '';*/
/*position: absolute; top: 0; left: 0; right: 0; bottom: 0;*/
/*!*background: rgba(125, 66, 185, 0.6);*!*/
/*background: rgba(0, 0, 0, 0.6);*/
/*}*/
/*.android .phone {*/
/*width: 260px; height: 560px;*/
/*padding-top: 40px;*/
/*margin-left: 120px;*/
/*background: rgba(125, 66, 185, 0.7);*/
/*}*/
/*.android .phone-pic {*/
/*width: 300px; height: 600px;*/
/*position: absolute; top: -5px; left: 120px;*/
/*background: url("../img/pixel.png") no-repeat;*/
/*background-size: contain;*/
/*z-index: 10;*/
/*}*/
/*.android .logo {*/
/*width: 200px;*/
/*margin: 80px auto 0;*/
/*}*/
/*.android .wrap {*/
/*margin-top: 80px;*/
/*position: relative;*/
/*}*/
/*.android .wrap h2 {*/
/*color: #fff;*/
/*font-size: 48px;*/
/*margin-bottom: 0;*/
/*}*/
/*.android .wrap p {*/
/*color: #fff;*/
/*text-align: center;*/
/*font-size: 20px;*/
/*}*/
/*.android .wrap a {*/
/*display: block;*/
/*width: 350px; height: 140px;*/
/*margin: auto;*/
/*}*/

.partners {
  background: #eee;
}

.partners .how-to-section__workflow-item {
  width: 300px;
  padding: 20px;
  margin: 0 20px;
  border: 1px solid #000;
  border-radius: 3px;
}

/*.partners .slick-next, .partners .slick-prev {*/
/*width: 32px; height: 32px;*/
/*opacity: 0;*/
/*}*/
.partners .slick-next:before, .partners .slick-prev:before {
  content: '';
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/arrow_left.png');
  background-size: cover;
  opacity: 1;
}

.partners .slick-next {
  position: absolute;
  right: -30px;
  top: 50%;
}

.partners .slick-prev {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: rotate(180deg);
}

footer {
  text-align: center;
  padding: 60px 0 40px;
  background: #35073d;
  position: relative;
}

footer .header__logo {
  width: 200px;
  margin: 0 auto;
}

footer h3 {
  margin: 10px 0 0;
  color: #fff;
  font: 20px "PT Sans Bold";
}

footer .main-section__wrap {
  margin: auto;
}

footer .main-section__wrap li {
  display: inline-block;
  width: 40px;
  margin: 20px 5px;
  /*background: #fff;*/
  /*border-radius: 50%;*/
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

footer .main-section__wrap font-awesome-icon {
  color: #fff !important;
}

footer .main-section__wrap li span {
  position: relative;

}

footer .main-section__wrap li:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: 0;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 0;
}

footer .main-section__wrap li:hover:before {
  transform: scale(1.2, 1.2);
}

footer .main-section__wrap a {
  color: #000;
}

footer .main-section__wrap i {
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 24px;
  margin: 10px;
}

footer .copyright {
  text-align: center;
  color: #fff;
}

@-webkit-keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -o-transform: translatey(10px);
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

@-moz-keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -o-transform: translatey(10px);
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translatey(200px);
    -moz-transform: translatey(200px);
    -o-transform: translatey(200px);
    transform: translatey(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

.in-bottom {
  -webkit-animation-name: fadeInBottom;
  -moz-animation-name: fadeInBottom;
  -o-animation-name: fadeInBottom;
  animation-name: fadeInBottom;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-duration: 1s;
  animation-delay: .2s;
}
