@font-face {
    font-family: 'Slabo 27px';
    src: local('Slabo 27px'), local('Slabo27px-Regular'), url('Slabo27px.woff2') format('woff2'), url('Slabo27px.woff') format('woff'), url('Slabo27px.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
